@import "tailwindcss";

.mdc-notched-outline__notch {
    border-style: none;
}

.mat-mdc-icon-button {
    line-height: normal;
}

@theme {
    /*Colors*/
    --color-pr: var(--mat-sys-primary);
    --color-prc: var(--mat-sys-primary-container);
    --color-sec: var(--mat-sys-secondary);
    --color-secc: var(--mat-sys-secondary-container);
    --color-ter: var(--mat-sys-tertiary);
    --color-terc: var(--mat-sys-tertiary-container);

    --color-bg: var(--mat-sys-background);
    --color-sc: var(--mat-sys-surface-container);
    --color-sclst: var(--mat-sys-surface-container-lowest);
    --color-scl: var(--mat-sys-surface-container-low);
    --color-schst: var(--mat-sys-surface-container-highest);
    --color-sch: var(--mat-sys-surface-container-high);
    --color-sh: var(--mat-sys-shadow);
    --color-s: var(--mat-sys-surface);
    --color-sb: var(--mat-sys-surface-bright);

    /*On colors*/
    --color-on-bg: var(--mat-sys-on-background);
    --color-on-s: var(--mat-sys-on-surface);
    --color-on-pr: var(--mat-sys-on-primary);
    --color-on-sec: var(--mat-sys-on-secondary);
    --color-on-ter: var(--mat-sys-on-tertiary);
    --color-on-secc: var(--mat-sys-on-secondary-container);
    --color-on-terc: var(--mat-sys-on-tertiary-container);


    /*Shadow*/
    --shadow-lv0: var(--mat-sys-level0);
    --shadow-lv1: var(--mat-sys-level1);
    --shadow-lv2: var(--mat-sys-level2);
    --shadow-lv3: var(--mat-sys-level3);
    --shadow-lv4: var(--mat-sys-level4);
    --shadow-lv5: var(--mat-sys-level5);

    /*Outline*/
    --outline-0: 0px;
    --outline-0--style: solid;
    --outline-0--color: var(--mat-sys-outline);

    --outline-1: 1px;
    --outline-1--style: solid;
    --outline-1--color: var(--mat-sys-outline);

    --outline-2: 2px;
    --outline-2--style: solid;
    --outline-2--color: var(--mat-sys-outline);

    --outline-3: 3px;
    --outline-3--style: solid;
    --outline-3--color: var(--mat-sys-outline);


    /*Text*/
    --text-ds: var(--mat-sys-display-small-size);
    --text-ds--line-height: var(--mat-sys-display-small-line-height);
    --text-ds--font-weight: var(--mat-sys-display-small-weight);

    --text-dm: var(--mat-sys-display-medium-size);
    --text-dm--line-height: var(--mat-sys-display-medium-line-height);
    --text-dm--font-weight: var(--mat-sys-display-medium-weight);

    --text-dl: var(--mat-sys-display-large-size);
    --text-dl--line-height: var(--mat-sys-display-large-line-height);
    --text-dl--font-weight: var(--mat-sys-display-large-weight);

    --text-bs: var(--mat-sys-body-small-size);
    --text-bs--line-height: var(--mat-sys-body-small-line-height);
    --text-bs--font-weight: var(--mat-sys-body-small-weight);

    --text-bm: var(--mat-sys-body-medium-size);
    --text-bm--line-height: var(--mat-sys-body-medium-line-height);
    --text-bm--font-weight: var(--mat-sys-body-medium-weight);

    --text-bl: var(--mat-sys-body-large-size);
    --text-bl--line-height: var(--mat-sys-body-large-line-height);
    --text-bl--font-weight: var(--mat-sys-body-large-weight);

    --text-hs: var(--mat-sys-headline-small-size);
    --text-hs--line-height: var(--mat-sys-headline-small-line-height);
    --text-hs--font-weight: var(--mat-sys-headline-small-weight);

    --text-hm: var(--mat-sys-headline-medium-size);
    --text-hm--line-height: var(--mat-sys-headline-medium-line-height);
    --text-hm--font-weight: var(--mat-sys-headline-medium-weight);

    --text-hl: var(--mat-sys-headline-large-size);
    --text-hl--line-height: var(--mat-sys-headline-large-line-height);
    --text-hl--font-weight: var(--mat-sys-headline-large-weight);

    --text-ls: var(--mat-sys-label-small-size);
    --text-ls--line-height: var(--mat-sys-label-small-line-height);
    --text-ls--font-weight: var(--mat-sys-label-small-weight);

    --text-lm: var(--mat-sys-label-medium-size);
    --text-lm--line-height: var(--mat-sys-label-medium-line-height);
    --text-lm--font-weight: var(--mat-sys-label-medium-weight);

    --text-ll: var(--mat-sys-label-large-size);
    --text-ll--line-height: var(--mat-sys-label-large-line-height);
    --text-ll--font-weight: var(--mat-sys-label-large-weight);

    --text-ts: var(--mat-sys-title-small-size);
    --text-ts--line-height: var(--mat-sys-title-small-line-height);
    --text-ts--font-weight: var(--mat-sys-title-small-weight);

    --text-tm: var(--mat-sys-title-medium-size);
    --text-tm--line-height: var(--mat-sys-title-medium-line-height);
    --text-tm--font-weight: var(--mat-sys-title-medium-weight);

    --text-tl: var(--mat-sys-title-large-size);
    --text-tl--line-height: var(--mat-sys-title-large-line-height);
    --text-tl--font-weight: var(--mat-sys-title-large-weight);
}
