<div class="min-h-screen flex flex-col lg:flex-row bg-gray-50">
    <!-- Логотип -->
    <div class="w-full lg:w-3/5 flex items-center justify-center p-6">
        <img src="/vite.svg" alt="Logo" class="w-32 lg:w-64"/>
    </div>

    <!-- Форма -->
    <div class="w-full lg:w-2/5 flex items-center justify-center px-6 py-12 bg-white shadow-lg">
        <form [formGroup]="loginForm" (ngSubmit)="hangleLogin()" class="w-full max-w-md space-y-6">
            <h2 class="text-2xl font-semibold text-gray-700 text-center">Sign in to your account</h2>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       formControlName="email"
                       [errorStateMatcher]="matcher"
                       placeholder="user@example.com"/>
                @if (loginForm.get('email')!!.hasError('email') && !loginForm.get('email')!!.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                }
                @if (loginForm.get('email')!!.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput
                       type="password"
                       formControlName="password"
                       placeholder="••••••••"/>
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="loginForm.invalid"
                    class="w-full py-2">
                Login
            </button>
        </form>
    </div>
</div>
