/*@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap';*/
@use './app/styles/material.scss';
@use './app/styles/tailwind.css';

body {
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
}
